body {
    margin: 0;
}

.navbar{
    height: 180px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}